.createrecipe{
    background-color:#D7D7D9 ;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Ubuntu';
    font-size: 18px;
    padding: 10px;
}

.textcreate{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-bottom: 60px;

}

.scorescreate{
    display: flex;
    flex-direction: column;
    width: 70px;
}

.submitrecipe{
    height: 25px;
    border-radius: 10px;
    border:solid #D7D7D9;
    color:black;
    font-family: 'Ubuntu';
    font-size: 15px;
}

.submitrecipe:hover{
    background-color:#90A641;
}

.submitcont{
    padding-top: 30px;
}